.header {
  @apply relative;

  &--content {
    @apply flex flex-col items-center;
  }
}

.logo {
  @apply flex;

  &--link {
    @apply block mx-auto w-60;

    svg {
      @apply block h-full fill-current w-full;
    }
  }
}

.menu-toggle {
  @apply block relative ml-auto p-4 w-12 h-12 md:hidden;

  &.is-open span {
    @apply transform rotate-45;
  }

  span {
    @apply block relative w-full h-full transition-transform;

    &::before,
    &::after {
      @apply block absolute top-1/2 inset-x-0 bg-current;
      content: '';
      height: 2px;
      margin-top: -1px;
    }

    &::after {
      @apply transform rotate-90;
    }
  }
}

.main-navigation,
.footer-navigation {
  @apply flex-1;

  > ul {
    @apply flex flex-nowrap justify-between overflow-x-auto p-5;
    @media (--sm) {
      @apply justify-center;
    }

    li {
      @apply text-2xl;
      flex: 0 0 auto;

      a:not(.btn) {
        @apply capitalize;
      }

      &.is-active {
        a {
        }
        a:not(.btn) {
          background-color: transparent;
          color: var(--pageText);
        }
      }

      a:not(.btn),
      button {
        @apply block;
      }
    }
  }
}

a[href='#content'].skip-link {
  @apply block fixed top-0 left-0 z-10 transition-transform;
  transform: translateY(-150%);

  &:focus {
    @apply transform-none;
  }
}
